nav{
    background-color: chocolate;
    color: white;
    position: fixed;
    top: 0;
    right: 0vw;
    width: 100vw;
    height: 100vh;
    transition: right .5s ease-in-out;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a{
    color: white;
    font-size: 1.2em;
    padding: 1em 2em;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid white;
}
nav a.actief{
    padding: 1em 1.3em;
    border-left: .7em solid white;
    border-right: .7em solid white;
}
#menu-schuiver:checked ~ nav{
    transition: left .5s ease-in-out;
    left: 100vw;
}
#menu-schuiver{
    display: none;
}
label.haal-menu{
    padding: .8rem 2rem;
    display: block;
    border-bottom: 2px solid white;
    text-align: right;
    font-size: 1.8em;
}